* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #3c5c7a, #224363, #133b61);
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 25px;
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #2a2a2a;
    color: white;
    font-size: 16px;
}

.container {
    width: 50%;
    padding: 20px;
    background: linear-gradient(to right, #383d41, #181b1d, #000000);
    border-radius: 25px;
    margin-bottom: 20px;
    position: relative;
}

.search-bar {
    margin-bottom: 20px;
}

.suggestions h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

.profile-list {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
    height: 130px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-weight: bold;
    font-size: 20px;
}

.followers {
    font-size: 15px;
    color: #b3b3b3;
}

.follow-btn,
.unfollow-btn {
    padding: 8px 12px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

.follow-btn {
    background-color: #1f8ef1;
    border: none;
}

.follow-btn:hover {
    background-color: #73b5ee;
}

.unfollow-btn {
    background-color: #f70707;
    border: none;
}

.unfollow-btn:hover {
    background-color: #f07474;
}

/* Botão de alternância */
.toggle-button {
    background-color: #505050;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.toggle-button:hover {
    background-color: #696969;
}

.card-footer {
    border-radius: 0 0 15px 15px;
    border-top: 0;
}

.no-results-message {
    text-align: center;
    font-size: 18px;
    color: #b3b3b3;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; /* Ajusta a altura mínima para centralização */
}

/* Estilos para os botões de navegação */
#meus-seguidores-btn, #estou-seguindo-btn {
    background-color: #1f8ef1; /* Cor padrão do botão */
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 5px;
}

#meus-seguidores-btn:hover, #estou-seguindo-btn:hover {
    background-color: #73b5ee; /* Cor de hover */
}

/* Estilo quando o botão estiver ativo (clicado) */
.active-button {
    background-color: #5a9fd5; /* Cor mais destacada para o botão ativo */
}


.voltar-btn a {
    
    color: white;
}